<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h1>Edit Listing</h1>
        <form method="POST" action="/listings/<%=listingDetails._id%>?_method=PUT" novalidate class = "needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%=listingDetails.title%>" class="form-control" required>
                <div class = "valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required><%=listingDetails.description%></textarea> 
                <div class = "invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" name="listing[Image]" value="<%=listingDetails.image%>" class="form-control" required>
                <div class = "invalid-feedback">Please enter a valid link for image</div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input  type="number" name="listing[price]" value="<%=listingDetails.price%>" class="form-control" required>
                    <div class = "invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input  type="text" name="listing[country]" value="<%=listingDetails.country%>" class="form-control" required>
                    <div class = "invalid-feedback">Country name should be valid</div>
                </div>
            </div>           
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input  type="text" name="listing[location]" value="<%=listingDetails.location%>" class="form-control" required>
                <div class = "invalid-feedback">Location should be valid</div>
            </div>

            <button class="btn btn-dark btn-add">Save</button>
        <br><br>
        </form>
    </div>
</div>